body{
  background-color: hsl(233, 47%, 7%);
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
}

p{
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  margin-top: 30px;
  line-height: 25px;
}

h1{
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

h2{
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.container{
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: row;
  width: 1080px;
  height: 446px;
  border-style: none;
  border-radius: 5px;
}

.left-box{
  width: 540px;
  height: 446px;
}

.left-inner-box{
  padding: 60px 80px 60px 80px;
}

.left-inner-bottom-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
}

.right-box{
  position: relative;
}

.color-overlay{
  width: 540px;
  height: 446px;
  background: hsl(277, 64%, 61%);
  opacity: 0.6;
  position: absolute;
  top: 0%;
}

.asdf{
  margin-right: 40px;
}

.stats{
  margin-top: 5px;
  color: hsla(0, 0%, 100%, 0.6);
}

.image{
  border-style: none;
  border-radius: 0 5px 5px 0;
}

.insights{
  color: hsl(277, 64%, 61%);
}

.attribution{
  color: white;
}

@media (max-width: 700px){
  .container{
    flex-direction: column;
    width: 540px;
    height: 1050px;
    position: relative;
    bottom: 450px;
  }
  .right-box{
    position: absolute;
  }
  .image{
    border-radius: 5px 5px 0 0;
  }
  .color-overlay{
    border-radius: 5px 5px 0 0;
  }
  .left-box{
    position: relative;
    top: 450px;
    text-align: center;
    height: 600px;
  }
  .left-inner-bottom-box{
    flex-direction: column;
    align-items: center;
  }
}
